extends ../layout.pug

block content
  if chapter
  .m-5 
    h5.card-title #{chapter.title}
    p.card-text Number of Lessons: #{chapter.nbLessons}
    if chapter.active
      span.badge.bg-success.text-light Active
    else
      span.badge.bg-warning.text-dark Inactive


  