h1 Liste des chapitres

#chapter-list-container.d-flex.flex-wrap.justify-content-center
  if chapters
    each chapter in chapters
      .chapter-card
        include chapter.pug
  else
    p No chapters available.